In [7]:
import pandas as pd

sample_data = {
    'user_id': '',
    'first_name': '',
    'last_name': '',
    'birth_date': '',
    'phone': '',
    'socials': '',
    'company': '',
    'branch': '',
    'description': '',
    'corpse': '',
    'office': ''
}

users_df = pd.DataFrame(sample_data, index=[0])

users_df

,user_id,first_name,last_name,birth_date,phone,socials,company,branch,description,corpse,office
0,,,,,,,,,,,

In [8]:
# users_df.loc['user_id'] = '1'

In [10]:
users_df.to_csv('data/users.csv', sep=';')